body {
    background-color: #fafafa;
}

th, td {
    padding: 2px 8px;
}

.uploadcare--powered-by {
    display: none;
    }

    .uploadcare--widget,
    .uploadcare--widget__button,
    .uploadcare--widget__dragndrop-area,
    .uploadcare--progress,
    .uploadcare--widget__text {
    display: none;
    position: absolute;
  }

.MuiMobileStepper-dotActive {
    background-color: #ffc92c !important;
}

.whitebrush {
    width: 900px;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
}