body {
    background-color: #fafafa;
}

th, td {
    padding: 2px 8px;
}

.uploadcare--powered-by {
    display: none;
    }

    .uploadcare--widget,
    .uploadcare--widget__button,
    .uploadcare--widget__dragndrop-area,
    .uploadcare--progress,
    .uploadcare--widget__text {
    display: none;
    position: absolute;
  }

.MuiMobileStepper-dotActive {
    background-color: #ffc92c !important;
}

.whitebrush {
    width: 900px;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.react-tag-input {
    border-radius: 0.5rem !important;
    font-size: 0.75rem !important; /* responsive font size */
    border-color: #262626 !important;
    padding: 0.5rem 1rem !important;
}